body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    font-style: italic;
    font-size: 102%;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}